.main-app-container {
  display: block;
  padding-top: 10%;
  margin: 0 auto;
}

.layout-column {
  text-align: center;
  padding: 0px;
}
.inner-app-container {
  width: 100%;
  display: block;
  clear: both;
}



.main-left-column {

  background-color: pink;

}

.main-middle-column {

}

.main-right-column {

  background-color: purple;
}

.column-left {


}
.column-mid {

}
.column-right {
  background-color: red;
  min-height: 100%;
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
}
