.layout-column {
  text-align: center;
  height: 100vh;
  padding: 0px;
}
.main-container {
  width: 100%;
  display: block;
  clear: both;
}

.main-left-column {

  background-color: pink;

}

.main-middle-column {

}

.main-right-column {

  background-color: purple;
}

.column-left {


}
.column-mid {

}
.column-right {

}
