@import 'mixins_functions';


.main-app-container {
  display: block;
  padding-top: 20px;
  margin: 0 auto;
}

.layout-column {
  text-align: center;
  padding: 0px;
}
.inner-app-container {
  width: 80%;
  display: block;
  clear: both;
  margin: centerContent(120px);
}

@media screen and (max-width: 900px) {
  .mui-col-xs-0 {
    display: none
  }
  .inner-app-container {
    width: 100%;
    display: block;
    clear: both;
    margin: centerContent(120px);
  }
  .column-mid {
    width: 100% ! important;
    display: block;
  }

}
.main-left-column {
  background-color: pink;

}

.main-middle-column {

}

.main-right-column {

}

.column-left {


}
.column-mid {

}
.column-right {
  background-color: transparent;
  min-height: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
}
