.join-room-container > div:first-child > .dialog-content > div > div:nth-child(2) > div {
    margin: 0 5px;
}
.join-room-container > div > div:nth-child(1) > div > div > div:nth-child(3) > div {
   margin: 0 5px ! important;
}

.join-room-container > div:first-child > .dialog-content > div > .dialog-body{
    overflow-y: visible !important;
    background-color: transparent ! important;
    padding: 5% ! important;
}

.join-room-container > div:first-child > .dialog-content {
  transform: none !important;

  width: 100% !important;
  height: 100% !important;
  max-width: none !important;

  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}

.join-room-container > div:first-child > .dialog-content > div {
  width: 100%;
  max-width: 700px;
  max-height: 100%;
  flex-direction: column;
  background-color: $modalBG ! important;
  margin: 0 auto ! important;
}
.join-room-container {
  margin-top: 10vh ! important;
  position: fixed ! important;
  transition: none ! important;
  transform: none ! important;
}