@import 'mixins_functions';


.login-title {
  color: black !important;
  font-size: 6em;
  font-family: 'Fugaz One', cursive;
}

.login-container {
  display: block;
  position: relative;
  width: 60vw;
  @include center;
  hr:nth-child(2) {
    border: 1px solid #daa520 !important;
  }
}



.login-container h2 {
  color: colorOpacity(black, 1);
  font: $font-stack;
}

.login-container-inner {
  width: 80%;
  padding: 10% 0;
  margin: 0%;
  display: block;
  position: relative;
  background-color: colorOpacity(white, 1);
  overflow-x: hidden;
  @include transition(background 1s ease);
  @include center(80%);
  @include vertical-align(10%);
}

.button-container {
  display: block;
  margin: 5% 0;
}


.center-content {
  display: block;
  text-align: center;
  width: 80%;
  margin: centerContent(0%);
}
.enter-room-login {
  display: inline;
    width: 60% !important;
    margin: 2%;
}
.about-brief {
  width: $offsetHalf;
  padding: $smallPad;
  display: block;
  margin: centerContent(0%);
}

.tagline {
  font: $font-stack;
  text-align: center;
}

.spotifyLogoContainer {
  text-align:center;
  margin: centerContent(0%);

}
.spotifyLogo {
  max-width: 40%;
  margin: centerContent(0%);
}


/* * MOBILE STYLES * */
@media screen and (max-width: 1024px) {

  .login-container {
    display: block;
    position: relative;
    width: 100%;
    @include center;
  }
  .secondary-button {
    display: block;
    width: 100%;
  }
  .enter-room-login {
    width: 100% !important;
    margin: 0 auto;
  }

  .login-container h2 {
    color: colorOpacity(white, 1);
    font: $font-stack;
  }

  .login-container-inner {
    width: 80%;
    padding: 10% 0;
    margin: 5%;
    display: block;
    position: relative;
    background-color: colorOpacity(white, 1);
    overflow-x: hidden;
    @include transition(background 1s ease);
    @include center(80%);
    @include vertical-align(10%);
  }
  @media screen and (max-width: 900px) {
    .login-title {
      color: black !important;
      font-size: 10vw;
      font-family: 'Fugaz One', cursive;
    }
  }
}



