@import 'mixins_functions';

// @function property-value($property, $selector: null) {
//     @return $magic;
// }

// @function calcEm($target-px, $context) {
//   @return ($target-px / $context) * 1em;
// }

.login-title {
  color: black !important;
}

.login-container {
  display: block;
  position: relative;
  width: 60vw;
  // background-color: colorOpacity(black, 1);
  @include center;
  hr:nth-child(2) {
    border: 1px solid #daa520 ! important;
  }
}

.login-container button {

}


.login-container h2 {
  color: colorOpacity(black, 1);
  font: $font-stack;
}

.login-container-inner {
  width: 80%;
  padding: 10% 0;
  margin: 0%;
  display: block;
  position: relative;
  background-color: colorOpacity(white, 1);
  overflow-x: hidden;
  @include transition(background 1s ease);
  @include center(80%);
  @include vertical-align(10%);
}

.button-container {
  display: block;
  margin: 5% 0;
}


.center-content {
  display: block;
  // margin: 10% auto 0%;
  text-align: center;
  width: 80%;
  margin: centerContent(0%);
}
.enter-room-login {
  display: inline;
    width: 60% ! important;
    margin: 2%;
}
.about-brief {
  width: $offsetHalf;
  padding: $smallPad;
  display: block;
  margin: centerContent(0%);
}

.tagline {
  font: $font-stack;
  text-align: center;
}

.spotifyLogoContainer {
  display: table-cell; 
  vertical-align: middle; 
  text-align:center;
  margin: centerContent(0%);

}
.spotifyLogo {
  max-width: 40%;
  margin: centerContent(0%);
}


/* * MOBILE STYLES * */
@media screen and (max-width: 1024px) {

  .login-container {
    display: block;
    position: relative;
    width: 100%;
    // background-color: colorOpacity(black, 1);
    @include center;
  }
  .secondary-button {
    display: block;
    width: 100%;
  }
  .enter-room-login {
    width: 100% ! important;
    margin: 0 auto;
  }

  .login-container h2 {
    color: colorOpacity(white, 1);
    font: $font-stack;
  }

  .login-container-inner {
    width: 80%;
    padding: 10% 0;
    margin: 5%;
    display: block;
    position: relative;
    background-color: colorOpacity(white, 1);
    overflow-x: hidden;
    @include transition(background 1s ease);
    @include center(80%);
    @include vertical-align(10%);
  }

}



