
#recommended-container {
  padding: $interiorPad;
  width: $fullWidth;
   > div {
    width: $fullWidth ! important;
    margin: 2px auto;
  }
}

#mood {
  height: 28px;
  margin-bottom: 15px
}

#mood-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px;
}

#mood-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 20px;
}

#mood-button {
  height: 28px;
  width: 150px;
  text-align-last: center;
  border: none;
  opacity: .5;
  background-color: #fff;
}

#mood-button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#mood-menu {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

#mood-menu div {
  height: 24px;
  width: 150px;
  background-color: #fff;
}

#mood-menu div:hover {
  background: #b2ddea;
}

#activity {
  height: 28px;
}

#activity-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px;
}

#activity-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 13px;
}

#activity-button {
  height: 28px;
  width: 150px;
  text-align-last: center;
  display: inline-block;
  border: none;
  opacity: .5;
  background-color: #fff;
}

#activity-button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#activity-menu {
  position: relative;
  cursor: pointer;
  z-index: 10;
}

#activity-menu div {
  height: 24px;
  width: 150px;
  background-color: #fff;
}

#activity-menu div:hover {
  background: #b2ddea;
}

#recommended-link {
  color: inherit;
  text-decoration: none;
  display: block;
}

#loading {
  color: black;
}

#recommended-container {
  #activity-menu, 
  #mood-menu {
    div:hover {
      color: white;
      background-color: $blueAccent;
    }
  }
}

@media screen and (max-width: 900px) {
  #recommended-container,
  #preferences, 
  #recommended-container > div {
    width: $fullWidth ! important;
  }
}
