@import 'mixins_functions';

.playlist-container {
  margin-top: 60px;
}
.playlist-tracks-outer-container {
  padding: 10px $smallPad;
}

/* * Error multiple votes popup * */

.playlist-vote-error-popup {
  width: 100%;
  background-color: colorOpacity(#000, 0.7);
  div {
    margin: 0 auto;
    width: 100%;
    background-color: colorOpacity(#000, 0) !important;
    font-weight: 600;
    font-color: $white !important;
      div {
        width: 100%;
        font-color: $white !important;
        font-size: 2vw !important;
        white-space: nowrap;
        @media screen and (max-width: 768px) {
          font-size: 4vw !important;
        }
          span {
            width: 100%;
            color: $white !important;
          }
      }
  }
}


/* * Current Song Bar * */
.csb-container {
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 80px;
  z-index: 20;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.csb-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 100%;
}
.csb-album-container {
  min-height: 1px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  display: flex;
}
.csb-song-progress-container {
    flex: 4 0 auto;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.csb-song-progress-container span {
  color: $darkGrey;
  font-weight: 500;
}

.csb-song-progress-time {
    flex: 1 0 auto;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    span {
      flex: 1 0 auto;
    }
}

.csb-buttons {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.csb-album-image,
.csb-song-info {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
   p {
    width: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
   }
}
.csb-song-info {
  padding: 0 5px;
  flex: 1 0 auto;
  flex-direction: column;
  display: flex;
}

.open {
  color: white !important;
}

.csb-song-name {
  color: #0090e0;
}

.mdl-slider{
  display: flex;
  flex: 1 .5   auto;
}
.mdl-slider > div > div > div:nth-child(3) {
  width: 12px !important;
  height: 12px !important;
}
.mdl-slider > div > div > div {
  background-color: $goldAccent !important;
}

.csb-container > div > div:nth-child(2) > div > div > div > div:nth-child(1) {
  background-color: $goldAccent !important;
  &:hover {
    color: transparent;
  }
}
.no-display-feature {
    display: block !important;
}

@media screen and (min-width: 900px) {
  .no-display-feature {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .csb-song-progress-container {
    display: none;
  }
  .csb-album-container {
    min-height: 1px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex: 1 0 80%;
    display: inline-block;
  }
}