/* Playlist.jsx styles */

.playlists-single-container {
  display: flex;
  margin: 15px;
  background: transparent;
}

.playlists-single-details {
  flex-grow: 1;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
  background-color: $bgDarkOp;
  word-wrap: break-word;
  overflow-x: scroll;
}

.playlists-h3 {
  margin-top: 10px;
  text-overflow: break-all;
}

.playlists-hr {
  margin-bottom: 1em;
}