
@import 'mixins_functions';


.mui-dropdown__menu,
.mui--is-open{
  width: 100%;
}

.mui-btn {
  float: right ! important;
}
.mui-dropdown {
  width: 100%;
  background-color: blue;
}
.mui-dropdown:hover {
  width: 100%;
  background-color: white;
  .mui-btn {
    background-color: white;
  }
}

.search-modal-button {
  display: block;
  margin: 1.5%;
}
.search-modal-container {
  width: 100%;
}
.search-popup-modal {
  position: fixed ! important;
  transition: none ! important;
  transform: none ! important;
  padding-top: none ! important;
  height: 200vh ! important;
  margin-top: 10vh ! important;
   div {
    height: auto;
    transform: none ! important;
      div {
      background-color: rgba(255, 255, 255, 0.8) ! important;
      // margin: 10vh auto ! important;
      div {
        background-color: rgba(255, 255, 255, 0) ! important;
        transition: none ! important;
        .track-image {
          display: none;
        }
        .song-entry-header {
          clear: both;
          text-align: right;
          h3 {
            font-size: 1.25em;
          }
        }
      }
    }
  }
  .track-dual-container {
    background-color: rgba(0, 0, 0, .5) ! important;
  }
}
.search-popup-modal > div >  div:nth-child(1) {
    transform: none ! important;
    transition: none ! important;
    margin: 10vh auto ! important;
    // > div:first-child {
    // margin: 25vh auto ! important;
    // transform: none ! important;
    // transition: none ! important;
    // }
}

.searchcontainer-container {
  width: 100%;
  background-color: #fff;
  margin-top: 0 ! important;
}
md-backdrop.md-opaque.md-default-theme,
.md-dialog-container {
  position:fixed;
}
