.searchcontainer-container {
  width: 80%;
  margin: centerContent(0%);
}
.searchcontainer-container {
  
}
.searchcontainer-container {
  
}
.searchcontainer-container {

}

.mui-dropdown__menu,
.mui--is-open{
  width: 100%;
}

.mui-btn {
  float: right ! important;
  background-color: blue;
}
.mui-dropdown {
  width: 100%;
  background-color: blue;


}
.mui-dropdown:hover {
  width: 100%;
  background-color: white;
  .mui-btn {
    background-color: white;
  }
}