
@import 'mixins_functions';
.main-search-text-field {
  width: 70%;
  display: inline-block;
  padding: 0 2%;
}
.main-search-button-container {
  width: 25%;
  display: inline-block;
  .mui-btn {
    font-size: 1em ! important;
    background-color: rgb(48, 48, 48) ! important;
    color: white ! important;
    &:hover {
      background-color: white ! important;
      color: black ! important;
    }
  }

}

.mui-dropdown__menu,
.mui--is-open{
  width: 100%;
}


.mui-dropdown {
  width: 100%;
  background-color: blue;
}
.mui-dropdown:hover {
  width: 100%;
  background-color: rgb(48, 48, 48) ! important;
  .mui-btn {
    background-color: rgb(48, 48, 48) ! important;
  }
}
.search-button {
  color: white ! important;

}
.search-modal-button {
  display: block;
  margin: 1.5%;
}
.search-modal-container {
  width: 100%;
}
.search-popup-modal {
  .track-vote-container-inner {
    padding: 6px ! important;
  }
  position: fixed ! important;
  transition: none ! important;
  transform: none ! important;
  margin-top: 10vh ! important;
  h3 {
    border-bottom: 0px ! important;
  }
  .song-entry-inner-details {
    color: #000 ! important;
  }
  .mui-form {
    .row {
      color: #FFF ! important;
    }
  }
   div {
    height: auto;
    transform: none ! important;
      div {
      background-color: rgba(0, 0, 0, 0.7) ! important;
      // margin: 10vh auto ! important;
      div {
        background-color: rgba(255, 255, 255, 0) ! important;
        transition: none ! important;
        .song-entry-header {
          clear: both;
          text-align: right;
          h3 {
            font-size: 1.25em;
            color: #000;
          }
        }
      }
    }
  }
  .track-dual-container {
    background-color: rgba(255, 255, 255, 0.75) ! important;
    padding: 8px 0 important;
  }
}
.search-popup-modal > div >  div:nth-child(1) {
    transform: none ! important;
    transition: none ! important;
   
}
.search-popup-modal > div >  div > div > div:nth-child(2) {
  border-top: 0px ! important;
}

.searchcontainer-container {
  width: 100%;
  background-color: #fff;
  margin-top: 0 ! important;
}
md-backdrop.md-opaque.md-default-theme,
.md-dialog-container {
  position:fixed;
}
@media screen and (max-width: 900px) {
  .main-search-text-field {
    width: 100%;
    display: block ! important;
    div {
      width: 100%;
      display: block ! important;
    }
  }
  .main-search-button-container {
    width: 100%;
    display: block ! important;
    .mui-btn {
      width: 80%;
      display: block ! important;
      margin: 0 auto ! important;
    }
  }
}

