@import 'mixins_functions';

hr {
 margin-top: 2% !important;
}

.song-entry-container {
  background-color: $bgDarkOp;
  width: 100%; 
  padding: 5%;
}

.track-add-song-button {
  background-color: $white;
}
.track-add-song-button:hover {
  background-color: $goldAccent;
  color: $white;
}

