@import 'mixins_functions';

hr {
 margin-top: 2% ! important;
}
.song-entry-container{
  width: 100%;
  padding: 5%;
}


.song-entry-header{

}
.song-entry-inner-details{

}

.song-entry-container button{

}
