@import 'mixins_functions';

hr {
 margin-top: 2% ! important;
}

.song-entry-container {
  background-color: rgba(0, 0, 0, .5);
  width: 100%; 
  padding: 5%;
}

.track-add-song-button {
  background-color: #d7dadb;
}
.track-add-song-button:hover {
  background-color: #000;
  color: white;
}
.song-entry-header {

}
.song-entry-inner-details {

}

.song-entry-container button {

}
