@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}
.track-main-container {
  margin: 2% auto;
  &:after {
    content: '';
    width: 100%;
    border-bottom: solid 3px #fff;
    margin-top: 2%;
    position: relative;
    display: block;
    z-index: 1;
  }
}
.track-vote-container {
  float: left;
  display: block;
  position: relative;
  width: 100%;
}
.track-vote-container-inner {
  display: block;
  width: 100%;
  // border-radius: 4px;
  // border: 2px solid #031527;

  white-space: pre ! important;
  border-spacing: 10%;
}
.track-vote-container-inner input{
  width: 100%;
  margin: 2px auto;
  display: inline-block;
  padding: 5%;
}
.track-vote-container-inner .voteCount{
  font-size: 2em;
  color: #d7dadb;
  font-weight: 600;
}

// .track-image {
  
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   max-width: 64px;
// }
// .track-main-container .col-xs-2 {
//   max-width: none ! important;
//   flex-basis: none ! important;
// }

.track-dual-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, .5);
  h3, h4 {
      color: white;
    }
}

.track-dual-container > div {
  display: flex;
  flex: 5;
  vertical-align: middle;
}

.track-dual-container > div:first-child {
  display: flex;
  object-fit: contain;
  flex: 0.75;
  margin-right: 20px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
}


.flexbox-container > div {
  padding: 10px;
  width: 100%;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
  width: 20%;
  object-fit: contain;
}

.track-song-details {

  padding: 2%;
}
.track-song-entry-header {
}

.container {
    width: 100%;
    max-width: 100%;
}

.box {
    width: 100%;
    padding: 0 5%;
    box-sizing:border-box;
    max-width: 100%;
    max-height:100%;
    position:relative;
}

.box img {
    height: auto;
    height:100%;
    max-height: 100%;
//    min-height: 100%;
    width: auto;
    max-width: 80px;
    margin: auto;
    position:absolute;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    display:block;
    object-fit: contain;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid grey;
  display: block;
  margin: 2px auto;

  &:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #fc4349;
  }
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid grey;
  display: block;
  margin: 2px auto;
  &:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fc4349;
  }
}

.topTrack-main-container {
  .track-dual-container {
    background-color: rgba(0, 0, 0, .5);
    h3 {
      color: white;
    }
  }
  .track-dual-container > div:first-child {
    display: flex;
    object-fit: contain;
    flex: 0.75;
    margin-right: 20px;
  }
  .voteCount { 
    font-size: 4em;
    color: #031527;
    font-weight: 600;
  }
  &:after {
    content: '';
    width: 100%;
    border-bottom: dashed 5px #fff;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    display: block;
    z-index: 1;
  }
  .top-track-no-vote {
    display: flex;
    margin: 0 auto;
    padding-left: 2%;
  }
  .track-song-details {
    background-color: rgba(0, 0, 0, 0);
    padding: 2%;
  }
  .right-triangle {
   width: 0;
   height: 0;
   margin: 2px auto;
   border-left: 40px solid white;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   @media (max-width: 900px) {
    border-left: 30px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    }
  }
}
