@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}
@import 'mixins_functions';

.track-main-container {
  margin: 2% auto;
  &:after {
    content: '';
    width: 100%;
    margin-top: 2%;
    position: relative;
    display: block;
    z-index: 1;
  }
}
.track-vote-container {
  float: left;
  display: block;
  position: relative;
  width: 100%;
}
.track-vote-container-inner {
  display: block;
  width: 100%;
  white-space: pre !important;
  border-spacing: 10%;
}
.track-vote-container-inner input{
  width: 100%;
  margin: 2px auto;
  display: inline-block;
  padding: 5%;
}
.track-vote-container-inner .voteCount{
  font-size: 2em;
  color: #d7dadb;
  font-weight: 600;
}


.track-dual-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $bgDarkOp !important;
  h3, h4 {
      color: white;
    }
}

.track-dual-container > div {
  display: flex;
  flex: 5;
  vertical-align: middle;
}

.track-dual-container > div:first-child {
  display: flex;
  object-fit: contain;
  flex: 0.75 1 0;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
}


.flexbox-container > div {
  padding: 10px;
  width: 100%;
}

.flexbox-container > div:first-child {
  width: 20%;
  object-fit: contain;
}

.track-song-details {
  padding: 2%;
}


.container {
    width: 100%;
    max-width: 100%;
}

.box {
    width: 100%;
    padding: 0 5%;
    box-sizing:border-box;
    max-width: 100%;
    max-height:100%;
    position:relative;
}

.box img {
    height: auto;
    height:100%;
    max-height: 100%;
    width: auto;
    max-width: 80px;
    margin: auto;
    position:absolute;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    display:block;
    object-fit: contain;
}

.triangle-down {
  cursor: pointer;
  cursor: hand;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid grey;
  display: block;
  margin: 2px auto;

  &:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid $goldAccent;
  }
}
.triangle-up {
  cursor: pointer;
  cursor: hand;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid grey;
  display: block;
  margin: 2px auto;
  &:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid $goldAccent;
  }
}

.topTrack-main-container {
  .track-dual-container {
    background-color: $bgDarkOp;
    h3 {
      color: white;
    }
  }
  .track-dual-container > div:first-child {
    display: flex;
    object-fit: contain;
    flex: 0.75;
  }
  .voteCount { 
    font-size: 4em;
    color: #031527;
    font-weight: 600;
  }
  &:after {
    content: '';
    width: 100%;
    border-bottom: solid 10px $goldAccent;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    display: block;
    z-index: 1;
  }
  .top-track-no-vote {
    display: flex;
    margin: 0 auto;
    padding-left: 2%;
  }
  .track-song-details {
    background-color: colorOpacity(#000, 0);
    padding: 2%;
  }
  .right-triangle {
   width: 0;
   height: 0;
   margin: 2px auto;
   border-left: 40px solid $goldAccent;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   @media (max-width: 900px) {
    border-left: 30px solid $goldAccent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    }
  }
}
