@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import 'node_modules/muicss/lib/sass/mui/colors.scss';
@import '_navBar';
@import '_app';
@import '_login';
@import '_playlist';
@import '_playlists';
@import '_search';
@import '_songEntry';
@import '_accordion';
@import '_track';
@import '_rightBar';
@import '_playlistSuggester';
@import '_joinRoom';
@import 'mixins_functions';


$step-size-heading: 0.5;


// @function colorOpacity($color, $opacity) {
//   @return rgba($color, $opacity)
// }

// @function centerContent($margin-top){
//   @return $margin-top auto;
// }


@mixin heading-size($size) {
    @if ($size * $step-size-heading) < 3 {
      font-size: 2vw;
    } @else {
      font-size: $size * $step-size-heading + vw;
    }
}

@function colorOpacity($color, $opacity) {
  @return rgba($color, $opacity)
}

@function centerContent($margin-top){
  @return $margin-top auto;
}
* {
  font-family: 'Roboto', 
  sans-serif;
}

html,
body {
  background-color: colorOpacity(#a7a3a5, 1);
  min-width: 360px ! important;
  margin:0;
  padding:0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  cursor: hand;
}
button {
  cursor: pointer;
  cursor: hand;
}

h1, h2, h3, h4 {
  color: $white;
}
h1 {
    @include heading-size(8);
}
h2 {
     @include heading-size(5);
}
h3 {
    @include heading-size(4);
}

/* * Site Wide Styles * */

/* * Buttons * */



.main-button {
  display: block ! important;
  width: $featureWidth;
  max-width: $featureWidth + 10%;
  padding: 15px $interiorPad;
  position: relative;
  margin: 5% auto;
    span {
      display: block;
      width: 100%;
      font-size: 1.75em ! important;
      margin: 2px auto;
      padding: 15px $interiorPad;;
      @include center
    }
}
.feature-actions-responsive {
  display: none ! important;
  div {
    width: 80% ! important;
  }
}
.main-button:active {
  color: none ! important;
  background-color: none ! important;
}

@media screen and (min-width: 900px) {
 h1 {
    font-size: 36px;
  }
  h2 {
      font-size: 30px;
  }
  h3 {
      font-size: 24px;
  }
}
 .search-pop-up-small-container,
  .join-room-popup-small-container {
    display: inline-block ! important;
  }
.secondary-button {
  @extend .main-button;
  padding: 0px $interiorPad;
  margin: 4% auto;
  width: 100%;
  span {
    font-size: 1em ! important;
  }
}
.small-feature-button {

}

@media screen and (max-width: 1024px) {
  .button-container {
    display: block;
    margin: 5% 0;
    width: 100%;
  }

  .main-button {
    display: block;
    width: 80%;
    max-width: 80%;
    padding: 15px $interiorPad;
    position: relative;
    padding: none;
    margin: 5% auto;
      span {
        display: block;
        width: 100%;
        font-size: 1.75em ! important;
        @include center
      }
  }
  .secondary-button {
    padding: 15px $interiorPad ! important;
    margin: 4% auto;
    span {
      font-size: 1em ! important;
    }
  }
  .small-feature-button {
    width: 100%;
    padding: 3px $interiorPad;
    margin: 4% auto;
    span {
      font-size: 18px ! important;
    }
  }

}
@media screen and (max-width: 900px) {
  h1 {
    @include heading-size(10);
  }
  h2 {
    @include heading-size(8);
  }
  h3 {
    @include heading-size(6);
  }
  .search-pop-up-small-container,
  .join-room-popup-small-container {
    display: none ! important;
  }
  .feature-actions-responsive {
    display: block ! important;
  }
    .far-right-disappear {
    display: none ! important;
    padding: 0 5% 0 0 ! important;
  }
  .csb-album-image {
    display: none ! important;
  }
  .csb-song-info{
    padding-left: 5% ! important;
    
  }

}

@media screen and (max-width: 600px) {
  h1 {
    @include heading-size(12);
  }
  h2 {
    @include heading-size(10);
  }
  h3 {
    @include heading-size(8);
  }
}


.spinner-div {
  @include center;
}
