//SCSS functions / Mixins
$radius : 2em;
$fullWidth: 100%;
$half: 50%;
$offsetHalf: 50%;
$third:  33%;
$smallPad: 2%;
$font-stack: Helvetica, sans-serif;

@function colorOpacity($color, $opacity) {
  @return rgba($color, $opacity)
}

@function centerContent($margin-top){
  @return $margin-top auto;
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

@mixin border-radius($value){
  -moz-border-radius: $value;
  -webkit--radius: $value;
  border-radius: $value;
}
@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;
  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}
@mixin vertical-align($top: null) {
  position: relative;
  @if not $top {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  } @else if $top {
    top: $top;
    transform: translateY(-$top);
    -webkit-transform: translateY(-$top);
    -ms-transform: translateY(-$top);
  }
}
@mixin transition($value) {
  -webkit-transition: $value;
  transition: $value;
}