/**
 * MUI Colors module
 */
.nav-container {
  width: 100%;
  height: 80px;
  background-color: #000 !important;
  position: fixed;
  display: block;
  z-index: 25; }

.main-navigation-site {
  width: 100%;
  height: 80px !important;
  background-color: #000 !important;
  position: fixed;
  display: block;
  padding-top: 5px; }

.main-navigation-site h1, path {
  color: white !important;
  fill: white !important; }

.nav-container-name {
  float: left;
  margin-left: 30px; }

.nav-container-logout {
  float: right;
  margin-right: 30px; }

.3-col-row {
  width: 100%;
  display: block;
  margin-left: -10px;
  margin-right: -10px; }

.nav-container .container {
  width: 100%; }

.nav-container-name {
  float: left; }

.nav-container-logout {
  float: right; }

.main-app-container {
  display: block;
  padding-top: 20px;
  margin: 0 auto; }

.layout-column {
  text-align: center;
  padding: 0px; }

.inner-app-container {
  width: 80%;
  display: block;
  clear: both;
  margin: 120px auto; }

@media screen and (max-width: 900px) {
  .mui-col-xs-0 {
    display: none; }
  .inner-app-container {
    width: 100%;
    display: block;
    clear: both;
    margin: 120px auto; }
  .column-mid {
    width: 100% !important;
    display: block; } }

.main-left-column {
  background-color: pink; }

.column-right {
  background-color: transparent;
  min-height: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0; }

.login-title {
  color: black !important; }

.login-container {
  display: block;
  position: relative;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-container button {
  height: 80px !important; }

.main-button div {
  height: 80px !important; }

.login-container h2 {
  color: black;
  font: Helvetica, sans-serif; }

.login-container-inner {
  width: 80%;
  padding: 10% 0;
  margin: 0%;
  display: block;
  position: relative;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  transform: translateY(-50%);
  position: relative;
  top: 10%;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%); }

.button-container {
  display: block;
  margin: 5% 0; }

.center-content {
  display: block;
  text-align: center;
  width: 80%;
  margin: 0% auto; }

.enter-room-login {
  display: inline;
  width: 60% !important;
  margin: 2%; }

.about-brief {
  width: 50%;
  padding: 2%;
  display: block;
  margin: 0% auto; }

.tagline {
  font: Helvetica, sans-serif;
  text-align: center; }

.spotifyLogoContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0% auto; }

.spotifyLogo {
  max-width: 40%;
  margin: 0% auto; }

/* * MOBILE STYLES * */
@media screen and (max-width: 1024px) {
  .login-container {
    display: block;
    position: relative;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .secondary-button {
    display: block;
    width: 100%; }
  .enter-room-login {
    width: 100% !important;
    margin: 0 auto; }
  .login-container h2 {
    color: white;
    font: Helvetica, sans-serif; }
  .login-container-inner {
    width: 80%;
    padding: 10% 0;
    margin: 5%;
    display: block;
    position: relative;
    background-color: white;
    overflow-x: hidden;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    transform: translateY(-50%);
    position: relative;
    top: 10%;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%); } }

.playlist-container {
  margin-top: 60px; }

.playlist-tracks-outer-container {
  padding: 10px 2%; }

/* * Error multiple votes popup * */
.playlist-vote-error-popup {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); }
  .playlist-vote-error-popup div {
    margin: 0 auto;
    width: 100%;
    background-color: transparent !important;
    font-weight: 600;
    font-color: #FB8900 !important; }
    .playlist-vote-error-popup div div {
      width: 100%;
      font-color: #FB8900 !important;
      font-size: 2vw !important;
      white-space: nowrap; }
      @media screen and (max-width: 768px) {
        .playlist-vote-error-popup div div {
          font-size: 4vw !important; } }
      .playlist-vote-error-popup div div span {
        width: 100%;
        color: #FFF !important; }

/* * Current Song Bar * */
.csb-container {
  width: 100%;
  height: 50px;
  background-color: white;
  position: relative;
  position: fixed;
  top: 80px;
  z-index: 20;
  left: 0;
  right: 0; }

.csb-album-image {
  display: inline-block; }

.open {
  color: white !important; }

.csb-song-info {
  display: inline-block;
  margin: auto 0;
  vertical-align: middle; }

.csb-song-name {
  color: #0090e0; }

/* Playlist.jsx styles */
.playlists-single-container {
  display: flex;
  margin: 15px; }

.playlists-single-details {
  flex-grow: 1;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 0 #000; }

.playlists-h3 {
  margin-top: 10px; }

.playlists-hr {
  margin-bottom: 1em; }

.mui-dropdown__menu,
.mui--is-open {
  width: 100%; }

.mui-btn {
  float: right !important;
  font-size: 1.25vw !important; }

.mui-dropdown {
  width: 100%;
  background-color: blue; }

.mui-dropdown:hover {
  width: 100%;
  background-color: white; }
  .mui-dropdown:hover .mui-btn {
    background-color: white; }

.search-button {
  color: white !important; }

.search-modal-button {
  display: block;
  margin: 1.5%; }

.search-modal-container {
  width: 100%; }

.search-popup-modal {
  position: fixed !important;
  transition: none !important;
  transform: none !important;
  margin-top: 10vh !important; }
  .search-popup-modal h3 {
    border-bottom: 0px !important; }
  .search-popup-modal .song-entry-inner-details {
    color: #000 !important; }
  .search-popup-modal .mui-form .row {
    color: #FFF !important; }
  .search-popup-modal div {
    height: auto;
    transform: none !important; }
    .search-popup-modal div div {
      background-color: rgba(0, 0, 0, 0.7) !important; }
      .search-popup-modal div div div {
        background-color: rgba(255, 255, 255, 0) !important;
        transition: none !important; }
        .search-popup-modal div div div .track-image {
          display: none; }
        .search-popup-modal div div div .song-entry-header {
          clear: both;
          text-align: right; }
          .search-popup-modal div div div .song-entry-header h3 {
            font-size: 1.25em;
            color: #000; }
  .search-popup-modal .track-dual-container {
    background-color: rgba(255, 255, 255, 0.75) !important;
    padding: 8px 0 important; }

.search-popup-modal > div > div:nth-child(1) {
  transform: none !important;
  transition: none !important; }

.search-popup-modal > div > div > div > div:nth-child(2) {
  border-top: 0px !important; }

.searchcontainer-container {
  width: 100%;
  background-color: #fff;
  margin-top: 0 !important; }

md-backdrop.md-opaque.md-default-theme,
.md-dialog-container {
  position: fixed; }

hr {
  margin-top: 2% !important; }

.song-entry-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5%; }

.track-add-song-button {
  background-color: #d7dadb; }

.track-add-song-button:hover {
  background-color: #000;
  color: white; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font-family: 'Nobile', sans-serif; }

.demo-container {
  padding: 40px;
  width: 100%; }
  .demo-container h1 {
    border-bottom: 1px solid #ccc;
    color: #03a9f4;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center; }
  .demo-container h2 {
    color: #ccc; }

.react-sanfona-item-expanded,
.react-sanfona-item-title {
  background-color: #fafafa !important;
  color: #000 !important; }

.react-sanfona {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 70px; }

.react-sanfona-item-title {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color .3s; }

.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none; }

.react-sanfona-item-expanded .react-sanfona-item-title {
  background-color: #03a9f4;
  color: #fff; }
  .react-sanfona-item-expanded .react-sanfona-item-title .title-done-btn {
    display: inline-block;
    float: right;
    color: #000; }

.react-sanfona-item-body-wrapper {
  color: #666;
  padding: 20px;
  position: relative; }
  .react-sanfona-item-body-wrapper:hover .tooltip {
    opacity: 1; }

.react-sanfona-item img {
  display: block;
  max-width: 100%; }

.react-sanfona-item .title-done-btn {
  display: none; }

.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s; }

.track-main-container {
  margin: 2% auto; }
  .track-main-container:after {
    content: '';
    width: 100%;
    border-bottom: solid 3px #fff;
    margin-top: 2%;
    position: relative;
    display: block;
    z-index: 1; }

.track-vote-container {
  float: left;
  display: block;
  position: relative;
  width: 100%; }

.track-vote-container-inner {
  display: block;
  width: 100%;
  white-space: pre !important;
  border-spacing: 10%; }

.track-vote-container-inner input {
  width: 100%;
  margin: 2px auto;
  display: inline-block;
  padding: 5%; }

.track-vote-container-inner .voteCount {
  font-size: 2em;
  color: #d7dadb;
  font-weight: 600; }

.track-dual-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5) !important; }
  .track-dual-container h3, .track-dual-container h4 {
    color: white; }

.track-dual-container > div {
  display: flex;
  flex: 5;
  vertical-align: middle; }

.track-dual-container > div:first-child {
  display: flex;
  object-fit: contain;
  flex: 0.75;
  margin-right: 20px; }

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  position: relative; }

.flexbox-container > div {
  padding: 10px;
  width: 100%; }

.flexbox-container > div:first-child {
  margin-right: 20px;
  width: 20%;
  object-fit: contain; }

.track-song-details {
  padding: 2%; }

.container {
  width: 100%;
  max-width: 100%; }

.box {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  position: relative; }

.box img {
  height: auto;
  height: 100%;
  max-height: 100%;
  width: auto;
  max-width: 80px;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: block;
  object-fit: contain; }

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid grey;
  display: block;
  margin: 2px auto; }
  .triangle-down:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #daa520; }

.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid grey;
  display: block;
  margin: 2px auto; }
  .triangle-up:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #daa520; }

.topTrack-main-container .track-dual-container {
  background-color: rgba(0, 0, 0, 0.5); }
  .topTrack-main-container .track-dual-container h3 {
    color: white; }

.topTrack-main-container .track-dual-container > div:first-child {
  display: flex;
  object-fit: contain;
  flex: 0.75;
  margin-right: 20px; }

.topTrack-main-container .voteCount {
  font-size: 4em;
  color: #031527;
  font-weight: 600; }

.topTrack-main-container:after {
  content: '';
  width: 100%;
  border-bottom: dashed 5px #fff;
  margin: 0 auto;
  margin-top: 2%;
  position: relative;
  display: block;
  z-index: 1; }

.topTrack-main-container .top-track-no-vote {
  display: flex;
  margin: 0 auto;
  padding-left: 2%; }

.topTrack-main-container .track-song-details {
  background-color: transparent;
  padding: 2%; }

.topTrack-main-container .right-triangle {
  width: 0;
  height: 0;
  margin: 2px auto;
  border-left: 40px solid #daa520;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; }
  @media (max-width: 900px) {
    .topTrack-main-container .right-triangle {
      border-left: 30px solid #daa520;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent; } }

.rightBar-container {
  margin-top: 50px;
  padding-top: 10px;
  color: black; }

.rightBar-container h2 {
  color: black !important; }

#recommended-container {
  padding: 5%;
  width: 100%;
  height: 270px; }
  #recommended-container > div {
    width: 100% !important;
    margin: 2px auto; }

#recommended-container h2, h3 {
  color: white; }

.dialog {
  width: 500px !important; }

.dialog div {
  overflow-y: visible !important; }

.recommended-error {
  margin-top: 20px;
  color: red; }

#mood {
  height: 28px;
  margin-bottom: 15px; }

#mood-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px;
  margin-right: 12px; }

#mood-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 20px; }

#mood-button {
  height: 28px;
  width: 150px;
  text-align-last: center;
  color: black;
  border: none;
  opacity: .5;
  background-color: #fff; }

#mood-button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#mood-menu {
  position: relative;
  cursor: pointer;
  z-index: 100; }

#mood-menu div {
  height: 24px;
  width: 150px;
  background-color: #fff;
  color: black; }

#mood-menu div:hover {
  background: #b2ddea; }

#activity {
  height: 28px; }

#activity-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px; }

#activity-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 13px; }

#activity-button {
  height: 28px;
  width: 150px;
  text-align-last: center;
  color: black;
  display: inline-block;
  border: none;
  opacity: .5;
  background-color: #fff; }

#activity-button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#activity-menu {
  position: relative;
  cursor: pointer;
  z-index: 10; }

#activity-menu div {
  height: 24px;
  width: 150px;
  background-color: #fff;
  color: black; }

#activity-menu div:hover {
  background: #b2ddea; }

#recommended-link {
  color: inherit;
  text-decoration: none;
  display: block; }

#loading {
  color: black; }

#recommended-container #activity-menu div:hover,
#recommended-container #mood-menu div:hover {
  color: white;
  background-color: #1385e5; }

@media screen and (max-width: 900px) {
  #recommended-container,
  #preferences,
  #recommended-container > div {
    width: 100% !important; } }

h1 {
  font-size: 3vw; }

h2 {
  font-size: 2vw; }

h3 {
  font-size: 2vw; }

html,
body {
  background-color: #a7a3a5;
  min-width: 420px !important;
  margin: 0;
  padding: 0; }

ul,
ol {
  margin: 0;
  padding: 0; }

.main-button {
  display: block !important;
  width: 60%;
  max-width: 70%;
  position: relative;
  margin: 5% auto; }
  .main-button span {
    display: block;
    width: 100%;
    font-size: 2em;
    margin: 2px auto;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.main-button:active {
  color: none !important;
  background-color: none !important; }

@media screen and (max-width: 1025px) {
  h1 {
    font-size: 4vw; }
  h2 {
    font-size: 3.5vw; }
  h3 {
    font-size: 3vw; }
  .button-container {
    display: block;
    margin: 5% 0;
    width: 100%; }
  .main-button {
    display: block;
    width: 80%;
    max-width: 80%;
    position: relative;
    padding: none;
    margin: 5% auto; }
    .main-button span {
      display: block;
      width: 100%;
      font-size: 1.75em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 6vw; }
  h2 {
    font-size: 5vw; }
  h3 {
    font-size: 4vw; } }

.spinner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
