/**
 * MUI Colors module
 */
.nav-container {
  width: 100%;
  height: 80px;
  background-color: #031527;
  position: fixed;
  display: block;
  z-index: 25; }

.main-navigation-site {
  width: 100%;
  height: 80px !important;
  background-color: #031527 !important;
  position: fixed;
  display: block;
  padding-top: 5px; }

.nav-container-name {
  float: left;
  margin-left: 30px; }

.nav-container-logout {
  float: right;
  margin-right: 30px; }

.3-col-row {
  width: 100%;
  display: block;
  margin-left: -10px;
  margin-right: -10px; }

.nav-container .container {
  width: 100%; }

.nav-container-name {
  float: left; }

.nav-container-logout {
  float: right; }

.main-app-container {
  display: block;
  padding-top: 20px;
  margin: 0 auto; }

.layout-column {
  text-align: center;
  padding: 0px; }

.inner-app-container {
  width: 80%;
  display: block;
  clear: both;
  margin: 120px auto; }

@media screen and (max-width: 768px) {
  .mui-col-xs-0 {
    display: none; }
  .inner-app-container {
    width: 100%;
    display: block;
    clear: both;
    margin: 120px auto; } }

.main-left-column {
  background-color: pink; }

.main-right-column {
  background-color: purple; }

.column-right {
  background-color: #d7dadb;
  min-height: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0; }

.login-container {
  display: block;
  position: relative;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-container h2 {
  color: white;
  font: Helvetica, sans-serif; }

.login-container-inner {
  width: 80%;
  padding: 10% 0;
  margin: 5%;
  display: block;
  position: relative;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  transform: translateY(-50%);
  position: relative;
  top: 10%;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%); }

.button-container {
  display: block;
  margin: 5% 0; }

.button {
  display: block;
  width: 50%;
  max-width: 60%;
  padding: 2%;
  position: relative;
  margin: 5% auto;
  -moz-border-radius: 2em;
  -webkit--radius: 2em;
  border-radius: 2em; }
  .button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.center-content {
  display: block;
  margin: 10% auto 0%;
  text-align: center;
  width: 100%; }

.about-brief {
  width: 50%;
  padding: 2%;
  display: block;
  margin: 0% auto; }

.tagline {
  font: Helvetica, sans-serif;
  text-align: center; }

.spotifyLogoContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0% auto; }

.spotifyLogo {
  max-width: 40%;
  margin: 0% auto; }

/* * MOBILE STYLES * */
@media screen and (max-width: 768px) {
  .button-container {
    display: block;
    margin: 5% 0; }
  .button {
    display: block;
    width: 80%;
    max-width: 80%;
    padding: 5%;
    position: relative;
    margin: 5% auto;
    -moz-border-radius: 2em;
    -webkit--radius: 2em;
    border-radius: 2em; }
    .button span {
      font-size: 5vw;
      padding: 2%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .login-container {
    display: block;
    position: relative;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .login-container h2 {
    color: white;
    font: Helvetica, sans-serif; }
  .login-container-inner {
    width: 80%;
    padding: 10% 0;
    margin: 5%;
    display: block;
    position: relative;
    background-color: white;
    overflow-x: hidden;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    transform: translateY(-50%);
    position: relative;
    top: 10%;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%); } }

.playlist-container {
  margin-top: 60px; }

/* * Error multiple votes popup * */
.playlist-vote-error-popup {
  width: 100%;
  background-color: rgba(3, 21, 39, 0.7); }
  .playlist-vote-error-popup div {
    margin: 0 auto;
    width: 100%;
    background-color: transparent !important;
    font-weight: 600;
    font-color: #FB8900 !important; }
    .playlist-vote-error-popup div div {
      width: 100%;
      font-color: #FB8900 !important;
      font-size: 2vw !important;
      white-space: nowrap; }
      @media screen and (max-width: 768px) {
        .playlist-vote-error-popup div div {
          font-size: 4vw !important; } }
      .playlist-vote-error-popup div div span {
        width: 100%;
        color: #FFF !important; }

/* * Current Song Bar * */
.csb-container {
  width: 100%;
  height: 50px;
  background-color: #FB8900;
  position: absolute;
  position: fixed;
  top: 80px;
  z-index: 20;
  left: 0;
  right: 0; }

.csb-album-image {
  display: inline-block; }

.csb-song-info {
  display: inline-block;
  margin: auto 0;
  vertical-align: middle; }

.csb-song-name {
  color: #0090e0; }

/* Playlist.jsx styles */
.playlists-single-container {
  display: flex;
  margin: 15px; }

.playlists-single-image {
  width: '200px';
  height: '200px'; }

.playlists-single-details {
  flex-grow: 1;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
  opacity: .5;
  background-color: #fff;
  box-shadow: 5px 5px 5px 0 #000; }

.playlists-h3 {
  margin-top: 10px; }

.searchcontainer-container {
  width: 100%;
  margin: 0% auto; }

.searchresults-container {
  background-color: #fff; }

.mui-dropdown__menu,
.mui--is-open {
  width: 100%; }

.mui-btn {
  float: right !important; }

.mui-dropdown {
  width: 100%;
  background-color: blue; }

.mui-dropdown:hover {
  width: 100%;
  background-color: white; }
  .mui-dropdown:hover .mui-btn {
    background-color: white; }

hr {
  margin-top: 2% !important; }

.song-entry-container {
  width: 100%;
  padding: 5%; }

.track-add-song-button {
  background-color: #d7dadb; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font-family: 'Nobile', sans-serif; }

.demo-container {
  padding: 40px;
  width: 100%; }
  .demo-container h1 {
    border-bottom: 1px solid #ccc;
    color: #03a9f4;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center; }
  .demo-container h2 {
    color: #ccc; }

.react-sanfona-item-expanded,
.react-sanfona-item-title {
  background-color: #fafafa !important;
  color: #000 !important; }

.react-sanfona {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 70px; }

.react-sanfona-item-title {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color .3s; }

.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none; }

.react-sanfona-item-expanded .react-sanfona-item-title {
  background-color: #03a9f4;
  color: #fff; }
  .react-sanfona-item-expanded .react-sanfona-item-title .title-done-btn {
    display: inline-block;
    float: right;
    color: #000; }

.react-sanfona-item-body-wrapper {
  color: #666;
  padding: 20px;
  position: relative; }
  .react-sanfona-item-body-wrapper:hover .tooltip {
    opacity: 1; }

.react-sanfona-item img {
  display: block;
  max-width: 100%; }

.react-sanfona-item .title-done-btn {
  display: none; }

.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s; }

.track-main-container {
  margin: 2% auto; }

.track-vote-container {
  float: left;
  display: block;
  position: relative;
  width: 100%; }

.track-vote-container-inner {
  display: block;
  width: 100%;
  white-space: pre !important;
  border-spacing: 10%; }

.track-vote-container-inner input {
  width: 100%;
  margin: 2px auto;
  display: inline-block;
  padding: 5%; }

.track-vote-container-inner .voteCount {
  font-size: 2em;
  color: #d7dadb;
  font-weight: 600; }

.track-dual-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.track-dual-container > div {
  display: flex;
  flex: 5;
  vertical-align: middle; }

.track-dual-container > div:first-child {
  display: flex;
  object-fit: contain;
  flex: 0.75;
  margin-right: 20px; }

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  position: relative; }

.flexbox-container > div {
  padding: 10px;
  width: 100%; }

.flexbox-container > div:first-child {
  margin-right: 20px;
  width: 20%;
  object-fit: contain; }

.track-song-details {
  background-color: white;
  padding: 2%; }

.container {
  width: 100%;
  max-width: 100%; }

.box {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  position: relative; }

.box img {
  height: auto;
  height: 100%;
  max-height: 100%;
  width: auto;
  max-width: 80px;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: block;
  object-fit: contain; }

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid grey;
  display: block;
  margin: 2px auto; }
  .triangle-down:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #fc4349; }

.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid grey;
  display: block;
  margin: 2px auto; }
  .triangle-up:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fc4349; }

.rightBar-container {
  margin-top: 50px;
  padding-top: 10px; }

#recommended-container {
  margin-bottom: 40px; }

#mood {
  height: 28px;
  margin-bottom: 15px; }

#mood-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px; }

#mood-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 20px; }

#mood-button {
  height: 28px;
  width: 150px;
  text-align-last: center;
  border: none;
  opacity: .5;
  background-color: #fff; }

#mood-button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#mood-menu {
  position: relative;
  cursor: pointer;
  z-index: 100; }

#mood-menu div {
  height: 24px;
  width: 150px;
  background-color: #fff; }

#mood-menu div:hover {
  background: #b2ddea; }

#activity {
  height: 28px; }

#activity-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 4px; }

#activity-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 13px; }

#activity-button {
  height: 28px;
  width: 150px;
  text-align-last: center;
  display: inline-block;
  border: none;
  opacity: .5;
  background-color: #fff; }

#activity-button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#activity-menu {
  position: relative;
  cursor: pointer;
  z-index: 10; }

#activity-menu div {
  height: 24px;
  width: 150px;
  background-color: #fff; }

#activity-menu div:hover {
  background: #b2ddea; }

#recommended-link {
  color: inherit;
  text-decoration: none; }

#loading {
  color: black; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

html,
body {
  background-color: #6dbcdb; }

ul,
ol {
  margin: 0;
  padding: 0; }

.spinner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
